input[type="text"],
input[type="number"] {
    display: block;
    width: 100%;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    font-size: 1em;
    text-align: start;

    &:focus {
        outline: none;
    }
}

label {
    font-size: 1.5em;
    display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
