$font-color: rgb(221, 221, 221);
$font-family: "Dosis";

.info-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 15px 50px;
    backdrop-filter: blur(18px);
    min-width: 180px;

    hr {
        width: 100%;
        border: 1px solid black;
    }

    .info-banner-city {
        font-family: $font-family;
        color: black;
        font-size: 3em;
    }
    .info-banner-temp {
        font-family: $font-family;
        color: $font-color;
        font-size: 12em;
    }
    .info-banner-desc {
        font-family: $font-family;
        font-size: 2em;
        color: $font-color;
    }
}
