.info-panel {
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-inline-start: 0px;
        width: 100%;
        list-style-type: none;
        padding: 20px;
        border: 1px solid rgb(66, 66, 66);
        backdrop-filter: blur(18px);
        background-color: rgba(0, 0, 0, 0.3);

        hr {
            width: 100%;
            border: 1.5px solid rgb(22, 22, 22);
        }

        li {
            width: 100%;
            display: flex;
            justify-content: space-between;
            // margin-top: 3px;
            // margin-bottom: 3px;
            font-size: 1.4em;

            span {
                // text-transform: uppercase;
                color: rgb(224, 224, 224);
                letter-spacing: 1px;
            }
        }
    }
}
