.navigation-container {
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-family: "PT Sans Narrow";
    font-size: 18px;
    letter-spacing: 1px;

    .logotype {
        margin: 10px 120px 20px;
    }

    .nav-link {
        text-decoration: none;
        cursor: pointer;
        color: black;
    }

    .links-container {
        margin: 10px 120px 20px;
        width: 25%;
        display: flex;
        justify-content: space-between;
    }
}
