.navigation-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    height: 5vh;
    font-family: "PT Sans Narrow";
    font-size: 18px;
    letter-spacing: 1px;

    .logotype {
        margin-left: 120px;
    }

    .nav-link {
        text-decoration: none;
        cursor: pointer;
        color: black;
    }

    .links-container {
        margin-right: 120px;
        width: 12%;
        display: flex;
        justify-content: space-between;
    }
}
