.footer-container {
    width: 100%;
    font-family: "PT Sans Narrow";
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(159, 159, 159);

    .user-type-container {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .reset {
        cursor: pointer;
    }

    .switch {
        cursor: pointer;
    }
}
