.footer-container {
    width: 100%;
    height: 5vh;
    font-family: "PT Sans Narrow";
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(159, 159, 159);

    .user-type-container {
        margin-left: 120px;
        display: flex;
        width: 12%;
        justify-content: space-between;
    }

    .reset {
        margin-right: 120px;
        cursor: pointer;
    }

    .switch {
        cursor: pointer;
    }
}
