.homepage-container {
    height: 95vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-right: 120px;
        padding-left: 120px;
        backdrop-filter: blur(25px);

        .search-info-container {
            padding-top: 15vh;
        }
    }

    .info-banner {
        padding-left: 120px;
    }
}
