.homepage-container {
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content-container {
        margin-right: 120px;
    }

    .info-banner {
        padding-left: 120px;
    }
}
